* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1582837611539-e3020079eab6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvY2t0YWlsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60ttps://images.unsplash.com/photo-1581927692308-be9e43b4d860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvY2t0YWlsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    height: 100vh;
    margin: 0;
}


h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
}

#welcome {
    text-align: justify;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.7px;
    color: white;
    margin: 30px;
}
#buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    margin-bottom: 20px;
}
button {
    padding: 10px;
    margin: 5px;
    background-color: rgb(223, 105, 72);
    border: solid white 2px;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}

#title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 0 auto;
    background-color: rgb(223, 105, 72);
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

img {
    border: 15px solid rgb(244, 241, 241);
    border-radius: 4px;
    padding: 5px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }